@use 'colors';
@use 'type';
@use 'ui';

.vista-neural-numbers {
  background-color: colors.$color-bg;
  color: colors.$color-text;
  @include type.regular-text;
}

h1, h2, h3, h4, h5, h6 {
  @include type.heading-text;
}

.language-switch-button {
  @include ui.pill-button;
}

.reset-button {
  @include ui.pill-button;
  background-image: url('../../static/img/pfeil-weiss.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 57%;
  padding: 0 1em;
}
