@font-face {
  font-family: 'APK Monogami';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('APK Monogami Regular');
}

@font-face {
  font-family: 'APK Monogami';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('APK Monogami Bold');
}

@mixin apk-monogami-regular {
  font-family: 'APK Monogami', monospace;
  font-weight: 400;
}

@mixin apk-monogami-bold {
  font-family: 'APK Monogami', monospace;
  font-weight: 700;
}
